<!doctype html>
<html>
<head>
    <title>analyze</title>
    <link href="/questionnaire-survey/public/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/questionnaire-survey/public/static/bootstrap/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="/questionnaire-survey/public/static/css/analyze.css" type="text/css" rel="stylesheet">
    <script src="/questionnaire-survey/public/static/js/jquery-3.3.1.min.js" type="text/javascript"></script>
    <script src="/questionnaire-survey/public/static/js/add.js" type="text/javascript"></script>
</head>
<body>
<header>
    <h1>分析问卷</h1>
    <hr>
</header>
<h4>截至目前有效问卷数：xx</h4>
<div class="result">
    <p>题目内容：xxxxxxxxx  <span class="type">单选题/多选题</span><span class="glyphicon glyphicon-asterisk"></span></p>
    <table>
        <tr>
            <th>选项</th>
            <th>数量</th>
        </tr>
        <tr>
            <td>大一</td>
            <td>3</td>
        </tr>
        <tr>
            <td>大一</td>
            <td>3</td>
        </tr>
    </table>
</div>
<div class="result" id="introduction">
    <p>题目内容：xxxxxxxxx <span class="type">简答题</span><span class="glyphicon glyphicon-plus extend" onclick="extend()"></span></p>
    <p>详细内容：<br>
    <p>xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</p>
    <p>xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</p>
    </p>
    <script>
        var count=0;
        function extend()
        {
            count++;
            var introduction=document.getElementById("introduction");
            if(count%2!=0){
                introduction.style.overflow="visible";
                introduction.style.height="auto";
            }
            else{
                introduction.style.overflow="hidden";
                introduction.style.height="90px";
            }
        }
    </script>
</div>
</body>
</html>