<!DOCTYPE html>
<html>
<head>
<title>Login Form</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="/questionnaire-survey/public/static/style.css" rel='stylesheet' type='text/css' />
</head>
<body>
	<div class="main">
		<div class="login">
			<h1>修改密码</h1>
			<div class="inset">
				<form action="changepassword_validate" method="post">
			         <div>
			         	<h2>修改密码</h2>
						<span><label>原密码</label></span>
						<span><input type="text" class="textbox" name="old" ></span>
					 </div>
					 <div>
						<span><label>新密码</label></span>
					    <span><input type="password" class="password" name="new"></span>
					 </div>
					 <div>
						<span><label>确认新密码</label></span>
					    <span><input type="password" class="password" name="confirm"></span>
					 </div>
					<div class="sign">
                        <input type="submit" value="确认" class="submit" />
					</div>
					</form>
				</div>
			</div>
		</div>
</body>
</html>
