<!DOCTYPE html>
<html>
<head>
    <title>登录</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/questionnaire-survey/public/static/style.css" rel='stylesheet' type='text/css' />
</head>
<body>
<div class="main">
    <div class="login">
        <h1>问卷调查系统</h1>
        <div class="inset">
            <!--start-main-->
            <form action="{:url('login_validate')}" method="post">
                <div>
                    <h2>用户登录</h2>
                    <span><label>用户名</label></span>
                    <span><input type="text" name="name" class="textbox" ></span>
                </div>
                <div>
                    <span><label>密码</label></span>
                    <span><input type="password" name="password" class="password"></span>
                </div>
                <div class="sign">
                    <input type="submit" value="登录" class="submit" />
                </div>
            </form>

        </div>
    </div>		<!--//end-main-->
</div>
<div style="text-align:center;">
    <p>新用户？<a href="{:url('register')}">点击注册</a></p>
</div>
</body>
</html>